{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/page/posting_form.css' %}">
{% endblock %}

{% block body %}
  <h1>{{posting_type}}</h1>

  <div class="posting-form">
    <form action="" method="post">
      {% csrf_token %}
      {{posting_form.as_p}}
  
      <div class="posting-form__function--bottom">
        {% if posting %}
          <a class="button" href="{% url 'page:posting_detail' posting.id %}">취소</a>
        {% endif %}
        <input class="button" type="submit" value="등록">
      </div>
    </form>
  </div>
{% endblock %}