input {
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 1rem;
}
input[type=submit] {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: Khaki;
  color: SaddleBrown;
  text-decoration: none;
  cursor: pointer;
}