{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>jgDjango</title>
  <link rel="icon" href="{% static 'images/favicon-96x96.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <div class="navbar">
    <span>
      <a href="{% url 'page:index' %}">
        <img class="navbar__logo" src="{% static 'images/jgcat.jpg' %}" alt="jgcat">
      </a>
    </span>
    <span>
      <a href="{% url 'page:posting_list' %}">글목록</a>
    </span>
    <span>
      <a href="{% url 'page:posting_create' %}">글쓰기</a>
    </span>
    <span>
      <a href="{% url 'game:game_list' %}">게임목록</a>
    </span>
    <!-- [코드 작성] 계정 관련 코드 추가 -->
    <!-- [코드 작성] 로그인 한 경우와 하지 않은 경우 분기처리 -->
    
  </div>

  <div class="container">
    {% block body %}
    {% endblock %}
  </div>

  <script>
    // [코드 작성] 확인창을 띄우는 JavaScript 코드
    
  </script>
</body>
</html>